extends ../../layout/default.pug

block main
    if(productF.title)
        h1.mb-4 #{productF.title}
    
    if (productF.price)
        div.mb-4 Gía :<b> #{productF.price} </b>
    
    if (productF.discountPercentage)
        div.mb-4 Giam giá : <b> #{productF.discountPercentage} </b>

    if (productF.discountPercentage)
        div.mb-4 Còn lại : <b> #{productF.stock} </b>

    if (productF.position)
        div.mb-4 Vị trí : <b> #{productF.position} </b>

    if (productF.thumbnail)
        .mb-4 
            img(
                src= productF.thumbnail 
                style="width:100px;"
            )

    if (productF.status)
        .mb-4 
            span Trạng thái: 
            if (productF.status === "active")
                span.badge.badge-success Hoạt động
            else 
                span.badge.badge-success Dừng hoạt động
    
    a(class="btn btn-warning" href=`${prefixAdmin}/products/edit/${productF.id}`) Chỉnh sửa