extends ../../layout/default.pug

block main
    if(role.permission.includes("account-view"))
        h1 DANH SÁCH TÀI KHOẢN
        .card.mb-3 
            .card-header Danh sách tài khoản
            .card-body 
                .row
                    .col-8 
                    .col-4.text-right 
                        if(role.permission.includes("account-create"))
                            a(href=`${prefixAdmin}/accounts/create` class="btn btn-success") Thêm mới 

        if(records && records.length > 0)    
            table(class="table table-hover table-sm " checkbox-multi)
                thead 
                    tr 

                        th STT 
                        th Họ và tên
                        th Email
                        th Hình ảnh
                        th Phân quyền
                        th Trạng thái 
                        th Hoạt động 
                tbody 
                    each item, index in records
                        tr 

                            td #{index+1}
                            td #{item.email}
                            td #{item.fullName}
                            td 
                                img(
                                    src=item.avatar
                                    alt=item.fullName
                                    width="100px"
                                    height="auto"
                                )
                            td 
                                if (item.role && item.role.title)
                                    | #{item.role.title}
                                else
                                    p Chưa có quyền
                            td 
                                if(role.permission.includes("account-edit"))
                                    if(item.status == "active")
                                        a(href="javascript:;" button-change-status data-status=item.status data-id=item.id class="badge badge-success") Hoạt động
                                    else 
                                        a(href="javascript:;" button-change-status  data-status=item.status data-id=item.id class="badge badge-danger") Dừng hoạt động
                                else 
                                    if(item.status == "active")
                                        .badga.badge-success Hoạt động
                                    else 
                                        .badga.badge-danger Hoạt động
                            td 
                                if(role.permission.includes("account-view"))
                                    a(href=`${prefixAdmin}/accounts/detail/${item.id}` class="btn btn-secondary btn-sm ml-1") Xem chi tiết
                                if(role.permission.includes("account-edit"))
                                    a(href=`${prefixAdmin}/accounts/edit/${item.id}` class="btn btn-warning btn-sm") Sửa
                                if(role.permission.includes("account-delete"))
                                    button(class="btn btn-danger btn-sm ml-1" button-delete data-id = item.id ) Xóa
        else 
            p Chưa có tại khoản nào! hãy tạo mới tài khoản
