extends ../../layout/default.pug

block main 
    .container.my-3 
        .row 
            .col-12 
                h1 tiêu đề
                if(productF.title)
                    h1.mb-4 #{productF.title}
            
                if (productF.price)
                    div.mb-4 Gía :<b> #{productF.price} </b>
                
                if (productF.discountPercentage)
                    div.mb-4 Giam giá : <b> #{productF.discountPercentage} </b>

                if (productF.discountPercentage)
                    div.mb-4 Còn lại : <b> #{productF.stock} </b>

                if (productF.position)
                    div.mb-4 Vị trí : <b> #{productF.position} </b>
                
                if (productF.thumbnail)
                    .mb-4 
                        img(
                            src= productF.thumbnail 
                            style="width:100px;"
                        )