extends ../../layout/default.pug
include ../../mixins/box-head.pug

block main 
    .product-detail
        .container.my-3 
            .row 
                .col-6 
                    .inner-thumb
                        img.img-detail(src=productF.thumbnail) 
                .col-6 
                    h1.inner-title.mb-2 #{productF.title}
                    if productF.category
                        div.inner-category.mb-2
                            span Danh mục:
                            a(href=`/products/${productF.category.slug}`) #{productF.category.title}
                    
                    if productF.price
                        div.inner-price-old.mb-2 Gía :<b> #{productF.price} </b>
                    if productF.priceNew
                        div.inner-price-new.mb-2 Gía mới :<b> #{productF.priceNew} </b>
                    
                    if productF.discountPercentage
                        div.inner-percent.mb-2 Giảm giá : <span> #{productF.discountPercentage} </span>

                    if productF.stock
                        div.inner-stock.mb-2 Còn lại : <span> #{productF.stock} </span> sản phẩm

                    //- form để thêm vào giỏ hàng
                    form(action=`/cart/add/${productF.id}`, method="POST")
                        input.form-control.mb-2(type="number", name="quantity", value="1", min="1", max=productF.stock) 
                        button.btn.btn-success.btn-block(type="submit") Thêm vào giỏ hàng

        hr

        .container.my-5 
            .row 
                .col-12 
                    +box-head("Mô tả sản phẩm")
                    .inner-desc !{productF.description}
