mixin product-item(item)
    .col-md-4.mb-4
        .card.bg-secondary
            .image-container
                img(class="card-img-top inner-image"  src=item.thumbnail, alt=item.title)
                if(item.featured == "1") 
                    span.inner-featured Nổi bật 
                
            .card-body
                h5.card-title.mb-3 
                    a(href=`/products/${item.slug}`) #{item.title}
                p.card-text.mb-2
                    strong Gía gốc: 
                    del 
                        span.text-light.ml-2 #{item.price}$
                p.card-text
                    strong Gía sau giảm: 
                    span.text-light.ml-2 #{item.priceNew}$
                p.card-text
                    strong Giảm giá: 
                    span.text-light.ml-2 #{item.discountPercentage}%
                    //-a.btn.btn-primary.btn-block(href='#') xem chi tiết
