extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert.pug
block main
    +alert-success(3000)
    +alert-error(3000)

    .container.my-3 
        .row 
            .col-12 
                +box-head("Giỏ hàng")

        .row 
            .col-12 
                table.table.table-bordered 
                    thead 
                        tr 
                            th STT 
                            th ảnh 
                            th Tên 
                            th Gía
                            th Số lượng
                            th Tổng tiền
                            th Hành động
                        tbody
                            if(cart.products.length > 0)
                                //- lặp qua từng sp trong giỏ hàng
                                each item, index in cart.products
                                    tr 
                                        td #{index+1}
                                        td
                                            img(src=item.productInfo.thumbnail alt="sp1" width="80px")
                                        td
                                            a(href=`/products/detail/${item.productInfo.slug}`) #{item.productInfo.title}
                                        td #{item.productInfo.priceNew}
                                        td 
                                            input(type="number" name="quantity" value=item.quantity min="1" product-id=item.product_id style="width:60px")
                                        td #{item.totalPrice}$
                                        td 
                                            //- bởi vì giỏ hàng không cần phải bảo mật quá cao nên không cần gửi bằng phương thức PATCH-- sử dụng GET
                                            a(href=`/cart/delete/${item.product_id}` class="btn btn-danger") Xóa
                            else 
                                p Không có sản phẩm nào trong giỏ hàng
                h3.text-right Tổng đơn hàng: #{cart.totalPrice} $

                .text-right.mt-3 
                    a(href="/checkout" class="btn btn-success") THANH TOÁN