extends ../../layout/default.pug

block main 
    h1.mb-4 THÔNG TIN CÁ NHÂN 
    
    if (user.avatar)
        img(src=user.avatar width="150px" class="mb-3")
    else 
        img(src="/admin/images/avatar.png" width="150px" class="mb-3")
    
    if(user.fullName)
        p Họ tên :  <b> #{user.fullName} </b>
    if(user.email)
        p email :  <b> #{user.email} </b>
    if(user.phone)
        p Số điện thoại :  <b> #{user.phone} </b>

    p 
        span Trạng thái 
        span 
            <b> #{user.status ==="active" ? " Hoạt động ": "Dừng hoạt động"} </b>

    if (role.title)
        p phân quyền : <b> #{role.title} </b>

    a(href=`${prefixAdmin}/my-account/edit` class=" btn btn-success") Chỉnh sửa thông tin


    